streamlit==1.35.0
openai==1.35.3
gspread==6.1.2
google-auth==2.30.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-openai==0.1.13
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.1
faiss-cpu
tiktoken==0.7.0
pypdf==4.2.0
sentence-transformers==3.0.1
pydantic>=2.7.4
