streamlit
openai==1.35.0
gspread
google-auth
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-openai==0.1.13
langchain-huggingface==0.0.3
langchain-text-splitters
faiss-cpu
tiktoken
pypdf
sentence-transformers
pydantic>=2.0.0
